.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}
.item-input-wrapper{
  background: #c0392b;
  opacity: .5;
}
.item-input-wrapper input {
  color: white;  
}
.news {
	display: inline-block;
  border: 1px solid black;
  margin: 4px;
  padding: 0 10px;
  opacity: 0.2;
}


.sources {
  display: inline-block;
  background: rgba(0,0,0,.1);
  padding: 0 20px;
}
.sources h4 {
  color: white;
}
.selected h4 {
  color: white;
}

.quick {
  background: #2980b9;
  border-color: black;
}
.quicktitle {
  text-align: center;
}
.reddit {
  background: #ff5700;
  border-color: #ff5700;
  opacity: 1;
}

.twitter {
  background: #00aced;
  border-color: #00aced;
  opacity: 1;
}

.npr {
  background: rgb(221,85,58);
  border-color: rgb(221,85,58);
  opacity: 1;
}

.buzzfeed {
  background: #C52812;
  border-color: #C52812;
  opacity: 1;
}

.ninegag {
  background: #000000;
  border-color: #000000;
  opacity: 1;
}

.facebook {
  background: #3b5998;
  border-color: #3b5998;
  opacity: 1;
}

.google {
  background: #008744;
  border-color: #008744;
  opacity: 1;
}

.bing {
  background: rgb(248,185,50);
  border-color: rgb(248,185,50);
  opacity: 1;
}

.yahoo{
  background: #7B0099;
  border-color: #7B0099;
  opacity: 1;
}

.nyt {
  background: #000;
  border-color: #000;
  opacity: 1;
}

.card {
  background: #008744 !important;
  margin: 10px 10px;
}

#home h4 {
  text-align: center;
}

.TwitterPost {
  border: 1px solid #00aced;
  margin-bottom: 5px;
}

.GAGPost {
  border: 1px solid #000000;
  margin-bottom: 5px;
}

.GooglePost {
  border: 1px solid #008744;
  margin-bottom: 5px;
}

.BingPost {
  border: 1px solid rgb(248,185,50);
  margin-bottom: 5px;
}

.RedditPost {
  border: 1px solid #ff5700;
  margin-bottom: 5px;
}
.inline {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  display: block;
  white-space: nowrap;
}

/*Facebook: #3b5998;
Google: #008744;
Buzzfeed: #C52812;
Twitter: #00aced;
9gag: #000000;
reddit: #ff5700;
yahoo: #7B0099;
NYT: #000000;