.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.news {
	display: inline-block;
  border: 1px solid black;
  margin: 4px;
  padding: 0 10px;
  opacity: 0.2;
}

/*.selected {
	background: #7B0099;
	border-color: #7B0099;
  opacity: 1;
}*/

.selected h4 {
  color: white;
}

.Reddit {
  background: #ff5700;
  border-color: #ff5700;
  opacity: 1;
}

.Twitter {
  background: #00aced;
  border-color: #00aced;
  opacity: 1;
}

.Buzzfeed {
  background: #C52812;
  border-color: #C52812;
  opacity: 1;
}

.GAG {
  background: #000000;
  border-color: #000000;
  opacity: 1;
}

.Facebook {
  background: #3b5998;
  border-color: #3b5998;
  opacity: 1;
}

.Google {
  background: #008744;
  border-color: #008744;
  opacity: 1;
}

.Bing {
  background: rgb(248,185,50);
  border-color: rgb(248,185,50);
  opacity: 1;
}

.Yahoo{
  background: #7B0099;
  border-color: #7B0099;
  opacity: 1;
}

.card {
  background: #008744 !important;
}

#home h4 {
  text-align: center;
}

.TwitterPost {
  border: 1px solid #00aced;
  margin-bottom: 5px;
}

.GAGPost {
  border: 1px solid #000000;
  margin-bottom: 5px;
}

.GooglePost {
  border: 1px solid #008744;
  margin-bottom: 5px;
}

.BingPost {
  border: 1px solid rgb(248,185,50);
  margin-bottom: 5px;
}
/*Facebook: #3b5998;
Google: #008744;
Buzzfeed: #C52812;
Twitter: #00aced;
9gag: #000000;
reddit: #ff5700;
yahoo: #7B0099;
NYT: #000000;