.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.news {
	display: inline-block;
  border: 1px solid black;
  margin: 4px;
  padding: 0 10px;
  opacity: 0.2;
}

.selected {
	background: #00B5FF;
	border-color: #00B5FF;
  opacity: 1;
}

.selected h4 {
	color: white;
}

#home h4 {
  text-align: center;
}