<!--
// 	document.addEventListener("touchmove", function(e){
// 		e.preventDefault();
// 	});
-->

<div ng-controller="DrawerController">
<!-- <div> -->
	<ul class="list">
		<li class="item item-divider"> Trends Menu</li>
		<li class="item" onclick="supersonic.data.channel('drawer').publish('home')">Home</li>
		<li class="item">
			<super-navigate location="trends#profile" onclick="supersonic.ui.drawers.close()">
				My Profile
			</super-navigate>
		</li>
		<li class="item item-divider">Quick Searches</li>
		<li class="item" onclick="supersonic.data.channel('drawer').publish('sports')">Sports</li>

		<!-- <li class="item">Trends Preferences</li>
		<li class="item">Subscriptions</li>
		<li class="item">Search History</li> -->
	</ul>
</div>