<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>Trend</super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon super-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-focus="focus=true">
      </label>
    </div>
    <div ng-if="!focus">
      <h4>Search From:</h4>
      <div class="news" ng-repeat="source in news" ng-class="{'selected': source.selected}" ng-click="addNews(source)">
        <h4>{{source.name}}</h4>
      </div>
      <button class="button button-block button-outline button-positive">Submit</button>
    </div>
    <div ng-if="focus">
      <ul class="list card" ng-hide="trends.length == 0">
        <super-navigate ng-repeat="trend in trends[0]['trends']">
          <li class="item item-icon-right">
            <span ng-bind="trend['name']"></span>
            <i class="icon super-ios-arrow-right"></i>
          </li>
        </super-navigate>
      </ul>
      <h4 ng-show="trends.length == 0" class="assertive padding">No Trends found</h4>
    </div>
  </div>

</div>