<div ng-controller="PostController">
  <div class="row">
    <div class="inline">
      <div class="sources" ng-repeat="source in news" ng-class="{ {{source.value}}: source.selected, 'selected': source.selected}" ng-click="addNews(source)">
        <h4>{{source.display}}</h4>
      </div>
    </div>
  </div>

  <div ng-repeat="post in data | orderBy:orderByDate">
    <div class="card" ng-if="post.source == 'twitter'" ng-click="twitterclick(post)">
      <div class="item item-text-wrap">
        <div class="TwitterPost"></div>
        <p>{{post.text}}</p>
      </div>
    </div>

    <div class="card" ng-if="post.source == 'bing'" ng-click="googleclick(post)">
      <div class="item item-body">
        <div class="BingPost"></div>
        <h3>{{post.title}}</h3>
        <p>{{post.description}}</p>
      </div>
    </div>

    <div class="card" ng-if="post.source == 'google'" ng-click="googleclick(post)">
      <div class="item item-body">
        <div class="GooglePost"></div>
        <p>{{post.title}}</p>
      </div>
    </div>

    <div class="card" ng-if="post.source == 'ninegag'" ng-click="ninegagclick(post)">
      <div class="item item-body">
        <div class="GAGPost"></div>
        <h2>{{post.title}}</h2>
        <img src="{{post.image}}">
      </div>
    </div>
  </div>

</div>