<div ng-controller="ProfileController" ng-init="init()">
<!-- <div> -->
	<p>{{user}}
	<!-- Personal info section -->
	<div class="card assertive" id="personalInfo">
		<div class="item item-divider">Personal Profile</div>
		<div class="item item-text-wrap">
			<div class="list">
				<label class="item item-input item-select">
					<div class="input-label">Age Group</div>
					<select>
						<option selected>Adult</option>
						<option>Teenage</option>
						<option>Family</option>
					</select>
				</label>
				<!-- <li class="item"></li> -->
			</div>
		</div>
	</div>
	
	<!-- Trend Preferences section -->
	<div class="card" id="trendInfo">
		<div class="item item-divider">Trend Preferences </div>
		<div class="item item-text-wrap">
			<div class="list">
				<a class="item" ng-click="editTrendPreference()" ng-repeat="(key, value) in user.preferences.trendPreferences">
					{{key}} <span class="item-note"> {{value}}</span>
				</a>
			</div>
		</div>
	</div>


	<!-- Subscriptions Section -->
	<div class="card" id="subscriptionsInfo">
		<div class="item item-divider">Subscriptions</div>
		<div class="item item-text-wrap">
			<ul class="list">
				<li class="item item-button-right" ng-repeat="subscription in user.subscriptions"> 
					{{subscription.search}}

					<!-- Button to remove subscription -->
					<button class="button button-assertive">
						<i class="icon super-minus-circled"></i>
					</button>
				</li>
			</ul>
		</div>
	</div>

</div>