<div ng-controller="ProfileController">
	
	<!-- Personal info section -->
	<div class="card" id="personalInfo">
		<div class="item item-divider">Personal Profile</div>
		<div class="item item-text-wrap">
			Text here
		</div>
	</div>
	
	<!-- Trend Preferences section -->
	<div class="card" id="trendInfo">
		<div class="item item-divider">Trend Preferences/div>
		<div class="item item-text-wrap">
			Text here
		</div>
	</div>


	<!-- Subscriptions Section -->
	<div class="card" id="subscriptionsInfo">
		<div class="item item-divider">Subscriptions</div>
		<div class="item item-text-wrap">
			<ul class="list">
				<li class="item item-button-right" ng-repeat="subscription in user.subscriptions"> 
					{{subscription.search}}

					<!-- Button to remove subscription -->
					<button class="button button-assertive">
						<i class="icon super-minus-circled"></i>
					</button>
				</li>
			</ul>
		</div>
	</div>

</div>